@import url('https://fonts.googleapis.com/css?family=Tangerine');

*{box-sizing: border-box;
}
p{
  color: red;
  font-family: 'Tangerine', arial;
  font-size: 60px;
  /*padding: 1%;*/
  padding-left: 27%;
  margin-top: 60px;
}
body{
  background-color: black;
}

audio {
   display:none;
}

div.playerSelect{
  /*background-color: red;*/
  width: 110px;
  height: 150px;
  border: 1px solid black;
  float: left;
  border: 1px solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1px;
}

div.playerSelect:hover{
  border: 5px solid red;
}

.cardContainer {
  position: absolute;
  bottom: 10px;
}

.cardContainer.right {
  right: 5px;
}

.cardContainer.left {
  left: 5px;
}

.cardDefault{
  height: 300px;
  width: 183px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('../pics/back.png');
}

#rightDeck {
  /*border: 1px solid red;*/
}

#leftDeck{
  /*border: 1px solid blue;*/
  left: 50px;
}


#gameOn{
  width: 272px;
  height: 300px;
  background-image: url('../pics/tris.png');
  background-size: cover;
  background-color: black;
  left: 55%;
  bottom: 18%;
  position: absolute;
  border: 0;
  display: inline-block;
  outline: 0;
}

.player1Hand, .player2Hand {
  width: 183px;
  height: 69px;
  /*border: 1px solid white;*/
  color: white;
  /*float: left;*/
  /*display: inline-block;
  position: absolute;*/
  /*left: 50px;
  margin-top: 18%;*/
  text-align: center;
  line-height: 69px;
  font-family: 'Tangerine', arial;
  font-size: 60px;
  margin-bottom: 20px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
/*.cardDefault.flip{
  background-image: url('https://dl.dropboxusercontent.com/u/71043080/back.png');
  background-size: contain;
  background-repeat: no-repeat;
}*/

div#wrapper{
  background-image: url('../pics/backwrap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

div.theFamily{
  width: 750px;
  height: 300px;
  margin: 0 auto;
  padding-top: 4%;
  padding-left: 3%;
}

#current {
  color: white;
  font-weight: bold;
}

#anthony{
  background-image: url("../pics/players/anthony.jpg");
}
#bonasera{
  background-image: url("../pics/players/bonasera.jpg");
}
#clemenza{
  background-image: url("../pics/players/clemenza.jpg");
}
#fredo{
  background-image: url("../pics/players/fredo.jpg");
}
#key{
  background-image: url("../pics/players/key.jpg");
}
#luca{
  background-image: url("../pics/players/luca.jpg");
}
#micheal{
  background-image: url("../pics/players/micheal.jpg");
}
#moe{
  background-image: url("../pics/players/moe.jpg");
}
#sollozzo{
  background-image: url("../pics/players/sollozzo.jpg");
}
#sonny{
  background-image: url("../pics/players/sonny.jpg");
}
#tom{
  background-image: url("../pics/players/tom.jpg");
}
#vito{
  background-image: url("../pics/players/vito.jpg");
}
